# This is Git's per-user configuration file.
[user]
    email = aq0335@gmail.com
    name = Aqothy
# Please adapt and uncomment the following lines:
#   name = Anthony Qiu
#   email = aq0335@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    syntax-theme = gruvbox-dark

[column]
    ui = auto

[branch]
    sort = -committerdate

[credential]

[fetch]
    all = true

[push]
    autoSetupRemote = true
    followTags = true

[pull]
    rebase = true

[help]
    autocorrect = prompt

[commit]
    verbose = true

[diff]
    renames = true
    algorithm = histogram
    indentHeuristic = true

[merge]
    tool = nvimdiff

[mergetool]
    prompt = true
    keepBackup = false
    trustExitCode = true
    hideResolved = true

[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c 'windo set foldcolumn=0 signcolumn=no wrap' -c 'wincmd J'
