# This is Git's per-user configuration file.
[user]
	email = aq0335@gmail.com
	name = Aqothy
# Please adapt and uncomment the following lines:
#	name = Anthony Qiu
#	email = aq0335@gmail.com

[column]
    ui = auto

[color]
  ui = auto

[branch]
    sort = -committerdate

[credential]

[core]
	excludesfile = ~/.gitignore

[alias]
	tree = log --graph --oneline --decorate --all

[push]
	autoSetupRemote = true

[pull]
    rebase = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[help]
    autocorrect = prompt

[commit]
    verbose = true

[merge]
	conflictstyle = diff3
    tool = nvimdiff

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"

[diff]
    algorithm = histogram
    renames = true

[rebase]
    updateRefs = true
