# There is def a better way to do this, but this works for now
*
!zed/keymap.json
!zed/settings.json
!aerospace/
!bits/
!ghostty/
!karabiner/
!kitty/
!lazygit/
!nvim/
!scripts/
!tmux/
!vscode/
!wallpapers/
!zed/
!zsh/
!.gitconfig
!.gitignore
!.ignore
!.zshenv
!Brewfile
!setup.md
